<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uso de node</title>
    <%- include ('parches/head.html') %>
</head>
<body>
    <%- include ('parches/navegacion.html') %>

    <div class="animate__animated animate__jackInTheBox">  
        <div class="conteiner p-5">
            <div class="row">
                  <div class="col-md-6 text-center">
                    <h3>Mi sitio con Node js 🥰</h3>
                    <div class="gif-container">
                        <img src="/images/michi.gif" alt="GIF de michi" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 style="color: #ffffff;">Beneficios de Usar Node.js 🤔</h4>
                    <ul style="color: #c5ecf8;">
                        <li>Alta escalabilidad para aplicaciones en tiempo real.</li>
                        <li>Ejecución de código JavaScript tanto en cliente como en servidor.</li>
                        <li>Manejo eficiente de múltiples conexiones simultáneas.</li>
                        <li>Gran ecosistema de módulos a través de npm.</li>
                        <li>Compatible con microservicios y arquitectura basada en eventos.</li>
                        <li>Desempeño rápido gracias a su motor V8 de Google.</li>
                        <li>Desarrollo más rápido con herramientas y paquetes integrados.</li>
                        <li>Gran comunidad de soporte y documentación extensa.</li>
                        <li>Facilidad para manejar aplicaciones de datos intensivos.</li>
                        <li>Permite la creación de aplicaciones de una sola página (SPA) eficientes.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 

    <%- include ('parches/footer.html') %>
</body>
</html>
